/* CSS Document */

body {
    background: #254441;
    font-size:22px;
    line-height: 32px;
    color: white;
    margin: 0;
    padding: 0;
    word-wrap:break-word !important;
}

/* Giving a background-color to the nav container. 给一个颜色给一个框*/
nav {
    margin:0;
    padding: 0;
    background-color: #254441;
}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size:50px;
    line-height: 50px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content:"";
    display:table;
    clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:relative" */
nav ul {
    float: right;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0;
    display:inline-block;
    float: left;
    background-color: #254441;
}

/* Styling the links */
nav a {
    display:block;
    padding:14px 20px;
    color:white;
    font-size:17px;
    text-decoration:none;
}

/* Background color change on Hover 鼠标动的地方会变色*/
nav a:hover {
    background-color: black;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute 让选项藏起来*/
nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 60px;
}

/* Display Dropdowns on Hover  选项 */
nav ul li:hover > ul {
    display:inherit;
}

/* First Tier Dropdown */
nav ul ul li {
    width:150px;
    float:none;
    display:list-item;
    position: relative;
}


.navbarleft a {
    display:block;
    padding:20px 10px;
    color:white;
    font-size:17px;
    text-decoration:none;
}

.navbarleft ul{
    list-style: none;
}

.navbarleft{
    position: fixed;
    background: #254441;
    width: 200px;
    height: 1080px;
    float: left;
}

.navbarleft ul :hover{
    width: 100px;
    background: black;
    position: relative
}

/* Change ' +' in order to change the Dropdown symbol 增加symbol来表明有子式*/
li > a:after { content:  ' + '; }
li > a:only-child:after { content: ''; }

/* 底部 */
.footer {
    text-align: center;
    background: #254441;
    width: 100%;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 700px 时, 让两栏上下堆叠显示 */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示 */
@media screen and (max-width: 400px) {
    .nav {
        float: none;
        width: 100%;
    }
}

